{% extends 'main.html' %}
{% load static %}

{% block content %}
	<div align="center">
	{% for i in messages %}
	<h3>{{ i }}</h3>
	{% endfor %}<br>
	<h1>login</h1>
	<form action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="username"><br><br>
		<input type="password" name="password" placeholder="Enter password"><br><br>
		<input type="submit" name="submit">
	</form><br> 
	<h3>New user <a href="{% url 'register' %}">Register</a></h3>
	</div>
{% endblock content %}